@{
    ViewBag.Title = "Saber Pro";
}
    <img src="~/Images/logo-udi-web.png" alt="UDI" />
<div class="jumbotron">
    <h1>Entrenamiento Prueba Saber Pro</h1>
    <p class="lead">¡Prepárate para las pruebas Saber Pro con nosotros!</p>
    <p><a href="~/Account/Login" class="btn btn-primary btn-lg">Ingresar &raquo;</a></p>
</div>